
/*///////////////////////////////////////
Defaults
/////////////////////////////////////////*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    background-color: black;
}

button, h2, h3, h4, p, input, li {
    font-family: 'Raleway';
    color: white;
}

h1 {
    font-family: 'Pacifico';
    color: white;
}

button:focus, input:focus {
    outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}


header {
    text-align: right;
    padding: 10px 20px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.back {
  text-decoration: none;
  color: white;
  font-family: 'Raleway';
  transition: all 1s ease;
}

.back:hover {
  cursor: pointer;
  margin-left: 2px;
  text-decoration: underline;
}

header button {
    color: black;
    padding: 5px;
    font-size: 0.8em;
    border-radius: 100px;
    border-radius: 175px;
    border: 1px solid white;
    background-color: white;
    transition: color 0.3s ease;
}

header button:hover {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: solid 1px white;
}

/*///////////////////////////////////
INSPIRATIONAL - SKI - CARSTEN
///////////////////////////////////*/

.ski-h2 {
  margin: 0 auto;
  font-family: Pacifico;
  font-size: 1.3em;
  z-index: 99;
}

.full-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.col-1, .col-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.col-1 {
  margin-left: 13%;
}

.col-2 {
  margin-left: 5%;
}

.list_name {
  font-size: 2em;
  grid-area: list_name;
  text-align:center;
  padding: 50px 0;
}

.list_name input {
  background: transparent;
  border: none;
  font-size: 1.5em;
  text-align: center;
  font-family: Pacifico;
  width: 100%;
}

#todo, #todo2, #todo3, #todo4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.shadow {
  -webkit-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.75);
}

#todo button, #todo2 button, #todo3 button, #todo4 button {
  color: black;
}

.panel {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.40);
  padding: 20px 13px 20px 20px;
  justify-content: space-between;
  margin-top: -10px;
}

.panel input.input {
  padding: 14px 14px 4px 14px;
  width: 330px;
  background: transparent;
  border: none;
  color: black;
  margin: 0 28px 0 28px;
  border-bottom: 2px solid white;
  font-size: 1em;
}

.panel input.input::-webkit-input-placeholder { /* Chrome */
  color: rgba(0,0,0,.4);
}
.panel input.input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,.4);
}
.panel input.input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0,.4);
}
.panel input.input:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,.4);
}

.list {
  display: flex;
  flex-direction: column;
}

.list li {
  background-color: rgba(220,220,220,0.6);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  margin: 1px 0;
  align-items: center;
  color: black;
  transition: background-color .5s ease;
}

.list li:nth-child(odd) {
  background-color: rgba(220,220,220,0.7);
}

.list li.done label {
  text-decoration: line-through;
}

.list li.done {
  background-color: rgba(50,205,50,0.8);
}

.list li button, .panel button {
  padding: 5px;
}

.delete_all, .delete {
  align-self: center;
  margin-right: 12px;
  transition: all .4s ease;
}

.delete:hover, .delete_all:hover {
  opacity: 0.5;
  cursor: pointer;
}

.check-all {
  align-self: center;
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-all p {
  margin-bottom: 5px;
  width: 50px;
}

.checkbox {
  margin-left: 26px;
  align-self: center;
  transition: all .5s ease;
}

.checkbox:hover {
  cursor:pointer;
  -webkit-box-shadow: inset 0px 0px 39px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 39px -20px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 39px -20px rgba(0,0,0,0.75);
}

section.background_ski {
    background-image: url("../img/baggrund_ski.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.list-enter-active, .list-leave-active {
  transition: opacity .4s, transform .4s, background-color .2s !important;
}
.list-enter, .list-leave-to, .list-leave-active  /* .list-leave-active below version 2.1.8 */ {
  opacity: 0 !important;
  transform: translateX(10px) !important;
  background-color: rgba(255,0,0,.8) !important;
}
