@charset "UTF-8";
/* CSS Document */


/*///////////////////////////////////////
Defaults
/////////////////////////////////////////*/

#landing-screen button, #landing-screen h2, #landing-screen h3, #landing-screen h4, #landing-screen p, #landing-screen input, #landing-screen li {
    font-family: 'Raleway';
    color: white;
}

#landing-screen h1 {
    font-family: 'Pacifico';
    color: white;
}

#landing-screen button:focus, #landing-screen input:focus {
    outline: none;
}

#landing-screen a {
  cursor: pointer;
  text-decoration: none;
}

/*///////////////////////////////////////
Screen change setup
/////////////////////////////////////////*/

#landing-screen {
  opacity: 1;
}

#section-wrapper { /* Sørens "create new list */
  opacity: 0;
}

#ski-pakkeliste-wrapper { /* Carstens ski-inspirations liste */
  display: none;
}

#charter-body { /* Amandas charterferie-inspirations liste */
  display: none;
}

#cityHoliday { /* Amalies storby-inspirations liste */
  display: none;
}

.animationIn {
  animation:         animationIn 3s; /* IE 10+, Fx 29+ */
  animation-fill-mode: forwards;
}

.animationOut {
  animation:         animationOut 3s; /* IE 10+, Fx 29+ */
  animation-fill-mode: forwards;

}

@keyframes animationOut {
  0%   { margin-top: 0; opacity: 1;}
  100% { margin-top: -100vh; opacity: 0;}
}

@keyframes animationIn {
  0%   { margin-bottom: -100vh; opacity: 0;}
  100% { margin-top: 0; opacity: 1;}
}



/*///////////////////////////////////////
Front Page
/////////////////////////////////////////*/

#landing-screen header {
    text-align: right;
    padding: 10px 20px 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#landing-screen .back {
  text-decoration: none;
  color: white;
  font-family: 'Raleway';
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#landing-screen .back:hover {
  cursor: pointer;
  margin-left: 2px;
  text-decoration: underline;
}

#landing-screen header button {
    color: black;
    padding: 5px;
    font-size: 0.8em;
    border-radius: 100px;
    border-radius: 175px;
    border: 1px solid white;
    background-color: white;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#landing-screen header button:hover {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: solid 1px white;
}

#landing-screen section.background {
    background-image: url("../img/baggrund.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

h1.fp {
    margin-top: 14%;
    text-align: center;
    font-size: 3em;
}

h1.fp:hover {
  opacity: 0.8;
}

.frontpage-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3% 0 0;
}

.intro {
    width: 30%;
    margin: 12px auto;
    text-align: center;
    font-size: 1.1em;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(255,255,255,.4);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 32px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Raleway';
    font-size: 12px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

/*///////////////////////////////////
Login
///////////////////////////////////*/


.login button:hover, .sign-up button:hover {
  cursor: pointer;
  text-decoration: underline;
}
